/*
.footer {
    background-color: #eba089;
    padding: 20px 0;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}*/

.footer {
    background-color: #eba089;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 20px 0 10px 0;
    /* Ajusta el padding superior para bajarlo un poquito */
    text-align: center;
    /* Centra el texto, si lo necesitas */
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    margin-top: 250px;
}

.container button {
    padding: 20px 20px;
    font-size: 17px;
    font-weight: bold;
}

.title {
    text-align: center;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.section {
    margin: 0;
    padding: 0;

}

.hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid #ddd;
}

/*efectos*/
.espereContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    /* Asegura que se alinee desde la izquierda */
    width: 100%;
    height: 100vh;
    /* Ocupa toda la altura de la pantalla */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro semi-transparente */
    z-index: 9999;
    flex-direction: column;
    /* Para que el texto esté debajo del spinner */
}

.spinner {
    border: 16px solid #f3f3f3;
    /* Fondo gris claro */
    border-top: 16px solid #89a5eb;
    /* Color del spinner */
    border-radius: 50%;
    /* Hace que el borde sea redondo */
    width: 100px;
    /* Tamaño del spinner */
    height: 100px;
    /* Tamaño del spinner */
    animation: spin 2s linear infinite;
    /* Animación para que gire */
    margin-bottom: 20px;
    /* Espacio entre el spinner y el texto */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}

.bodya {
    background-image: url('/fondo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    /* Esto asegura que el fondo cubra toda la pantalla */
    margin: 0;
    /* Elimina cualquier margen por defecto */
    padding: 0;
    height: 100%;
    /* Esto asegura que el body ocupe toda la altura de la ventana */
    overflow-x: hidden;
    min-height: 100vh;
}