.header {
    background-color: #89a5eb;
    padding: 20px 0;
    text-align: center;
    color: white;
}

.footer {
    background-color: #89a5eb;
    padding: 20px 0;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;

}

.title {
    text-align: center;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.section {
    margin: 0;
    padding: 0;

}

.hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid #ddd;
}

/*efectos*/
.espere-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    /* Ocupa toda la altura de la pantalla */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro semi-transparente */
    z-index: 9999;
    /* Asegura que esté encima de otros elementos */
}

.spinner {
    border: 16px solid #f3f3f3;
    /* Fondo gris claro */
    border-top: 16px solid #3498db;
    /* Color del spinner */
    border-radius: 50%;
    /* Hace que el borde sea redondo */
    width: 100px;
    /* Tamaño del spinner */
    height: 100px;
    /* Tamaño del spinner */
    animation: spin 2s linear infinite;
    /* Animación para que gire */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}