.footer {
    background-color: #ffc978;
    color: white;
    width: 100%;
    padding: 20px 0 10px 0;
    text-align: center;
    position: relative;  /* Cambié 'absolute' por 'relative' para evitar que se solape */
    margin-top: auto;  /* Esto asegura que el footer se quede abajo */
    bottom: 0;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    margin-top: 200px;
    /* El margin-top puedes ajustarlo según necesites para que no esté pegado al borde superior */
}

.container button {
    padding: 20px 100px;
    font-size: 17px;
    font-weight: bold;
}

.title {
    text-align: center;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.section {
    margin: 0;
    padding: 0;
}

.hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid #ddd;
}

/* Efectos */
.espereContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    flex-direction: column;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #89a5eb;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}

/* Body de la página */
.bodya {
    background-image: url('/fondo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;  /* Asegura que ocupe toda la altura de la ventana */
    display: flex;
    flex-direction: column;  /* Organiza los elementos de arriba hacia abajo */
    justify-content: space-between;  /* Empuja el contenido hacia arriba y el footer hacia abajo */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}
